<h1>Создание коментария</h1>
<form method="post" action="/comments/api" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="titleInput" class="form-label">Id новости для коментария</label>
        <input class="form-control" name="idNews" id="IdNewsInput">
    </div>
    <div class="mb-3">
        <label for="descriptionInput" class="form-label">Текст коментария</label>
        <textarea class="form-control" name="message" id="messageInput" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label for="authorInput" class="form-label">Автор</label>
        <input class="form-control" name="author" id="authorInput">
    </div>
    <div class="form-group">
        <label for="cover">Аватарка</label>
        <input type="file" class="form-control-file" id="cover" name="cover">
    </div>
    <!--  <input type="submit" value="Создать">-->
    <button type="button" class="btn btn-primary" onclick='sendForm()'>Создать</button>
</form>


<script>
    Date.prototype.toDateInputValue = (function () {
        var local = new Date(this);
        local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
        return local.toJSON().slice(0, 10);
    });
    document.getElementById('dateInput').value = new Date().toDateInputValue();
    const idNews = document.getElementById('IdNewsInput').value

    function sendForm() {
        var data = new FormData($('form')[0]);
        $.ajax({
            url: '/comments/api',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            method: 'POST',
            success: function () {
                alert('Коментарий создан')
                window.location.href = `/news/all`;
            }
        });
    }
</script>